
 :root {
    --off-white: black;
    --light-yellow: #99D0F2;
    --darker-yellow: #55A6D9;
    --light-teal: white; 
    --dark-teal: white;
}    

@media (prefers-color-scheme: dark){
    :root {
        --off-white: rgb(238, 238, 238);
        --light-yellow: #99D0F2;
        --darker-yellow: #55A6D9;
        --light-teal: #0B508C; 
        --dark-teal: #021D40;
    }    
}

.light-theme{
    --off-white: #021D40;
    --light-yellow: #021D40;
    --darker-yellow: #55A6D9;
    --light-teal: #99D0F2; 
    --dark-teal: rgb(225, 232, 240);
}

.dark-theme{
    --off-white: rgb(238, 238, 238);
    --light-yellow: #99D0F2;
    --darker-yellow: #55A6D9;
    --light-teal: #0B508C; 
    --dark-teal: #021D40;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--light-teal);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    overflow-x: hidden;
}


h1{
    color: var(--off-white);
    font-weight: 800;
    letter-spacing: 2px;
    margin: 0;
    padding: none;
    text-align: center;
}


h3{
    text-decoration: none;
    margin: 0;
}

.menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
  }
  .line {
    fill: none;
    stroke: var(--off-white);
    stroke-width: 3;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 3;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 3;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 3;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 3;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 3;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 3;
  }
  
.mobile-view-container{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    width: 100%;
}

.headingContainer{
    align-items: center;
    background-color: var(--dark-teal);
    box-shadow: -5px 5px 30px 5px rgba(9, 9, 9, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    position: relative;
    z-index: 2;
}

.headingContainer h1 span {
    font-weight: 100;
}

.buttons-container{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.reset {
    background-color: var(--light-yellow);
    border-radius: .1em;
    border: none;
    color: var(--dark-teal);
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    height: auto;
    letter-spacing: 1.3px;
    padding: .5em 1em;
    width: auto;
}

.dark-theme .reset:hover{
    animation: rainbow 5s infinite;
    color: white;
}

.light-theme .reset:hover{
    animation: text-rainbow 5s infinite;
    
}


.btn {
    align-items: center;
    color: var(--light-yellow);
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    height: 40px;
    justify-content: center;
    letter-spacing: .1em;
    margin: .5rem .5rem;
    outline: 1px solid var(--off-white);
    position: relative;
    text-align: center;
    transition: all .4s ease-in-out;
    width: 140px;
}   


.btn:hover {
    cursor: pointer;
    outline-offset: .4rem;
    outline-color: transparent;
    background-color: transparent;
    color: var(--off-white);
    font-size: 14px;
} 

.btn:hover::after{
    align-items: center;
    background-color: var(--darker-yellow);
    box-shadow: -5px 5px 30px 5px rgba(9, 9, 9, 0.2);
    color: var(--off-white);
    content: "";
    display: flex;
    font-size: 24px;
    height: 100px;
    justify-content: center;
    outline: 4px solid var(--off-white);
    position: absolute;
    top: 8rem;
    width: 400px;
    z-index: 5;
}


#bubble-sort:hover::after{
    content: "Big O: Quadratic Time or N^2";
}
#selection-sort:hover::after{
    content: "Big O: Quadratic Time or N^2";
}
#insertion-sort:hover::after{
    content: "Big O: Quadratic Time or N^2";
}
#merge-sort:hover::after{
    content: "Big O: O(n*Log n)";
}
#quick-sort:hover::after{
    content: "Big O: O(n*Log n)";
}

.main-container{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
}

.viz-bars-container {
    align-items: flex-end;
    display: flex;
    height: auto;
    justify-content: space-between;
    margin-bottom: 0rem;
    margin-top: 3rem;
    padding: 0rem 0rem;
    width: 95%;
}


.viz-bar {
    background-color: var(--dark-teal);
    border-radius: .2rem .2rem 0em 0em;
    border: none;
    position: relative;
    transition: height .1s ease-in-out;
    width: 15px;

    /* for height */
    align-items: center;
    color: var(--off-white);
    display: flex;
    font-size: 0px;
    justify-content: center;
    padding-bottom: 5px;
}

.slider-container{
    align-items: center;
    background-color: var(--dark-teal);
    box-shadow: -25px 34px 30px 5px rgba(9, 9, 9, 0.2);
    column-gap: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 4rem;
    position: absolute;
    right: 0;
    top: 10rem;
    transform: translateX(120%);
    transition: transform .7s ease-in-out;
    z-index: 1;
}

.show-menu{    
    transform: translateX(0%);
}



.slider-container h4 {
    color: var(--off-white);
    letter-spacing: 1px;
}

.slider-container div:last-of-type {
    margin-top: 2rem;
}

@media (max-width: 385px){
    .slider-container{
        top: 12rem;
    }
}

@media (min-width: 1000px){
    .body-container{
        display: flex;
    }
    .menu {
        display: none;
    }
    .mobile-view-container{
        width: auto;
    }
    .slider-container{
        align-items: center;
        background-color: transparent;
        box-shadow: none;
        column-gap: 40px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0rem;
        position: relative;
        right: 0;
        top: 0rem;
        transform: translateX(0%);
        transition: none;
        z-index: 0;
    }
    .headingContainer{
        display: flex;
        height: 100vh;
        justify-content: space-around;
        left: 0;
        width: 350px;
    }
    .headingContainer h1 {
        border-bottom: 5px solid var(--darker-yellow);
        border-top: 1px solid var(--darker-yellow);
        font-size: 45px;
        padding: 1rem 0rem;
        text-align: start;
    }
    .buttons-container{
        column-gap: 20px;
        display: flex;
        flex-direction: row;
    }
    .btn{
        width: 180px;
    }   
    .viz-bars-container {
        bottom: 0;
        padding: 0rem 2rem;
        position: absolute;
        right: 0;
        width: calc(100vw - 350px);
    }
    .viz-bar {
        border-radius: .2rem .2rem 0em 0em;
        border: 1px solid var(--light-teal);
        font-size: 0px;
        margin-bottom: 3em;
        position: relative;
        transition: height .1s ease-in-out;
        width: 2vw;
    }
    .main-container{
        align-items: center;        
        justify-content: flex-start;
        width: 100%;
    }
    .reset{
        padding: 1em 1em;
    }
}


@media (min-width: 1200px){
    .viz-bar{
        font-size: 10px;
    }
}






/* --------------------input range styling -------------- */

input,
output {
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 1em;
  vertical-align: middle;
}

output {
  background: var(--light-teal);
  border-radius: 3px;
  border: 1px solid black;
  color: var(--off-white);
  padding: 5px 16px;
}

input[type="number"] {
  border-radius: 3px;
  border: 1px solid #bbb;
  padding: 4px 5px;
  width: 40px;
}

/* input[type="range"]:focus,
input[type="number"]:focus {
  box-shadow: 0 0 3px 1px #4b81dd;
  outline: none;
} */

input[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;
  width: 150px;
  height: 7px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  background-image: linear-gradient(var(--light-yellow), var(--light-yellow));
  background-size: 30% 100%;
  background-repeat: no-repeat;
}

/* Input Thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: var(--light-yellow);
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: var(--light-yellow);
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

input[type="range"]::-ms-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: var(--light-yellow);
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: var(--darker-yellow);
}

input[type="range"]::-moz-range-thumb:hover {
  background: var(--darker-yellow);
}

input[type="range"]::-ms-thumb:hover {
  background: var(--darker-yellow);
}

/* Input Track */
input[type=range]::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type=range]::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type="range"]::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}



/* ------------------visualization colors-------------- */

.pivot {
    width: 20px;
    background-color: rgb(255, 146, 127);
}


.red{
    background-color: rgb(255, 127, 127);
}

.blue {
    background-color: rgb(52, 167, 255);
}

.green {
    background-color: rgb(3, 203, 3);
}

.purple {
    background-color: rgb(143, 5, 211);
}

.orange{
    background-color: rgb(254, 176, 8);
}

/* -----------------------------animations -------------------------------------------------- */


@keyframes text-rainbow {
    0%{
        color: rgb(8, 238, 254);
        
    }
    5% {
        color: rgb(229, 215, 250);
       
    }
    15% {
        color: rgb(255, 127, 127);
        
    }
    30%{
        color: rgb(52, 167, 255);
        
    }
    45% {
        color: rgb(3, 203, 3);
        
    }
    65% {
        color: rgb(198, 91, 252);
       
    }
    85%{
        color: rgb(254, 176, 8);
        
    }
    100%{
        color: rgb(8, 238, 254);
       
    }
}


@keyframes rainbow {
    0%{
        background-color: rgb(8, 238, 254);
        box-shadow: 0px 5px 42px 6px rgba(6, 167, 225, 0.502);
    }
    5% {
        background-color: rgb(176, 127, 255);
        box-shadow: 0px 5px 42px 6px rgba(195, 166, 242, 0.502);
    }
    15% {
        background-color: rgb(255, 127, 127);
        box-shadow: 0px 5px 42px 6px rgba(255, 95, 95, 0.502);
    }
    30%{
        background-color: rgb(52, 167, 255);
        box-shadow: 0px 5px 42px 6px rgba(12, 143, 244, 0.502);
    }
    45% {
        background-color: rgb(3, 203, 3);
        box-shadow: 0px 5px 42px 6px rgba(75, 252, 75, 0.502);
    }
    65% {
        background-color: rgb(154, 51, 206);
        box-shadow: 0px 5px 42px 6px rgba(168, 27, 238, 0.509);
    }
    85%{
        background-color: rgb(254, 176, 8);
        box-shadow: 0px 5px 42px 6px rgba(250, 186, 47, 0.502);
    }
    100%{
        background-color: rgb(8, 238, 254);
        box-shadow: 0px 5px 42px 6px rgba(6, 167, 225, 0.502);
    }
}